<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='layout/styles/layout.css')}}" rel="stylesheet" type="text/css" media="all">
    <title>HSS KHAIPORA</title>
  </head>
  <body id="top">
    <br/><br/>
    <!-- ################################################################################################ -->
<!-- ################################################################################################ -->

    <div class="wrapper row1">
        <header id="header" class="clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><br/><a href="#"> HSS KHAIPORA </a></h1>
      <!-- <p>Education for all</p> -->
    </div>
    <div class="fl_right">
      <form class="clear" method="post" action="#">
        <fieldset>
          <legend>Search:</legend>
          <input type="text" value="" placeholder="Search Here">
          <button class="fa fa-search" type="submit" title="Search"><em>Search</em></button>
        </fieldset>
      </form>
    </div>

    <!-- ################################################################################################ -->
    </header>
    </div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
    <div class="wrapper row2">
        <div class="rounded">
            <nav id="mainav" class="clear">
      <!-- ################################################################################################ active-->
      <ul class="clear">
        <li class="active"><a href="{{url_for('home')}}">Home</a></li>
      <!--  <li><a class="drop" href="#">Pages</a>
          <ul>
            <li><a href="pages/gallery.html">Gallery</a></li>
            <li><a href="pages/portfolio.html">Portfolio</a></li>
            <li><a href="pages/full-width.html">Full Width</a></li>
            <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
            <li><a href="pages/sidebar-left-2.html">Sidebar Left 2</a></li>
            <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
            <li><a href="pages/sidebar-right-2.html">Sidebar Right 2</a></li>
            <li><a href="pages/basic-grid.html">Basic Grid</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">Dropdown</a>
          <ul>
            <li><a href="#">Level 2</a></li>
            <li><a class="drop" href="#">Level 2 + Drop</a>
              <ul>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
              </ul>
            </li>
          </ul>
        </li>   Drop-Down lists end here
        <<li><a href="#">Faculty</a></li>  -->
        <li><a href="{{url_for('teacher')}}">Teacher</a></li>
        <li><a href="{{url_for('download')}}">Download</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <!-- ################################################################################################ -->
    </nav>
     </div>
    </div>

    <div class="wrapper">


                <div class="rounded">

                        {% block content %}

                        {% endblock %}

                </div>



    </div>
    <div class="wrapper row4">
        <div class="rounded">
            <footer id="footer" class="clear">
      <!-- ################################################################################################ -->
                <div class="one_third first">
        <figure class="center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11
            060.776499448755!2d74.43123952491878!3d34.12711605201042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1a6783
            87dbb35%3A0xd15cf904b4f1dfe8!2sKhaipora%20193198!5e1!3m2!1sen!2sin!4v1645810427634!5m2!1sen!2sin"
            loading="eager">
            </iframe>
            <!-- <figcaption><a href="https://goo.gl/maps/uCtKNPcCTnC4zvww9">Find Us With Google Maps &raquo;</a></figcaption> -->
        </figure>
      </div>
                    <div class="one_third">
                        <address>
                            Govt. Higher Secondary Khaipora<br>
                            Khaipora<br>
                            Tangmarg<br>
                            193198<br>
                            <br>
                            <i class="fa fa-phone pright-10"></i> +91 9797 123456<br>
                            <i class="fa fa-envelope-o pright-10"></i> <a href="#">hsskhaipora@gmail.com</a>
                        </address>
                    </div>

                    <div class="one_third">
                        <p class="nospace btmspace-10">Stay Up to Date With What's Happening</p>
                            <ul class="faico clear">
          <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="faicon-flickr" href="#"><i class="fa fa-flickr"></i></a></li>
          <li><a class="faicon-rss" href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
                            <form class="clear" method="post" action="#">
                                <fieldset>
                                    <p class="nospace btmspace-10">Subscribe To Our Newsletter:</p>
                                  <!--  <legend>Subscribe To Our Newsletter:</legend> -->
                                    <input type="text" value="" placeholder="Enter Email Here&hellip;">
                                    <button class="fa fa-sign-in" type="submit" title="Sign Up"><em>Sign Up</em></button>
                                </fieldset>
                            </form>
                    </div>
      <!-- ################################################################################################ -->
                </footer>
        </div>
    </div>

            <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='layout/scripts/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='layout/scripts/jquery.fitvids.min.js')}}"></script>
    <script src="{{url_for('static', filename='layout/scripts/jquery.mobilemenu.js')}}"></script>
    <script src="{{url_for('static', filename='layout/scripts/tabslet/jquery.tabslet.min.js')}}"></script>

  </body>
</html>